body{
    font-family: 'Poppins', sans-serif;
    
}

p{
    font-size: 20px;
}

.header {

    
    padding: 100px;
    text-align: center;
    background-image: url(images/donation77.jpg);
    color: white;
    font-size: 30px;
    margin-bottom: 100px;
  }


  .link-button{
    color:white;
    padding: 10px;
    text-decoration: none;
    background-image: linear-gradient(tomato,red);
    border-radius: 2px;


  }

  .text{
    text-align: center;
   

    
  }

  .flexible{
    display: flex;
    margin-left: 400px;

    
  }

  .box{
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    
    padding: 10px;
  }

  .second-box{
        width: 100px;
        height: 100px;
        color:rgb(155, 20, 43);
        background-color: pink;
        border: 2px solid rgb(187, 8, 38);
        padding: 10px;
        margin: 10px;
        
      }


      .input-field{
        width: 500px;
        padding: 10px 0;
        margin: 5px 0;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid #999;
        outline: none;
        background: transparent;
        margin-bottom: 40px;

      }
  


      