body{
    font-family: 'Poppins', sans-serif;
    
}



.header {

    
    padding: 100px;
    text-align: center;
    background-image: url(images/donation77.jpg);
    color: white;
    font-size: 30px;
    margin-bottom: 100px;
  }


  .link-button{
    color:white;
    padding: 10px;
    text-decoration: none;
    background-image: linear-gradient(tomato,red);
    border-radius: 2px;


  }

  .text{
    text-align: center;
   

    
  }

  .flexible{
    display: flex;
    margin-left: 290px;

    
  }

  .box{
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    
    padding: 10px;
    margin-right: 10px;
  }

  .second-box{
        width: 100px;
        height: 100px;
        color:rgb(155, 20, 43);
        background-color: pink;
        border: 2px solid rgb(187, 8, 38);
        padding: 10px;
        margin: 10px;
        
      }


      .input-field{
        width: 500px;
        padding: 10px 0;
        margin: 5px 0;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid #999;
        outline: none;
        background: transparent;
        margin-bottom: 40px;

      }
  


      .donate-box{
        width: 500px;
        height: 300px;
        background-color: cornsilk;
        
        padding: 10px;
        margin-right: 10px;
        margin-bottom: 100px;
      }

      .icon-style{
        width: 100px;
        height: 70px;
      }



     .box-shadow{
        box-shadow: 2px 2px 5px gray;
        border-radius: 40px;
        padding: 20px;
        margin-left: 50px;
        
     }

      .width-style{
        width:450px;
        height:300px;
        margin-top: 20px;
        margin-left: 40px;
        border-radius: 40px;
      }

      .text-wt{
        font-weight: 700;
      }

      .color-text{
        color: crimson;
      }



      .update-box{
        width: 700px;
        height: 150px;
        background-color: cornsilk;
        
        padding: 10px;
        margin-left: 300px;
        margin-bottom: 100px;
      }

      .email-style{
        background-color: lavender;
        border: none;
        margin-top: 50px;

        padding: 10px;
      }

      .sub-button{
        color:white;
        padding: 6px;
        text-decoration: none;
        background-image:linear-gradient(red,red);
    
    
      }

      .fotter{
        color: white;
        background-color: black;
        padding: 20px;
      }

      .footer-text{

        color: salmon;
        font-family: 'Lobster Two', cursive;
        font-family: 'Poppins', sans-serif;

      }