body{
    font-family: 'Poppins', sans-serif;
    
}

p{
    font-size: 20px;
}

.header {

    
    padding: 100px;
    text-align: center;
    background-image: url(images/donation77.jpg);
    color: white;
    font-size: 30px;
  }


  .link-button{
    color:white;
    padding: 10px;
    text-decoration: none;
    background-image: linear-gradient(tomato,red);
    border-radius: 2px;


  }